{% extends 'base.html' %}
{% block title %}Detail View{% endblock %}
{% block menu %}
    <a href="/"><button type="submit" class="btn btn-outline-warning">Home</button></a>
{% endblock %}
{% block contetnt %}
    <div class="row">
        <div class="col-3">
            <h3>Title</h3><br>
            <h3>Description</h3><br>
            <h3>Detail description</h3><br>
            <h3>Status</h3><br>
            <h3>Date</h3>
        </div>
        <div class="col-7">
            <h3>{{ list.title }}</h3><br>
            <h3>{{ list.description }}</h3><br>
            <h3>{{ list.detailed_description }}</h3><br>
            <h3>{{ list.status }}</h3><br>
            <h3>{{ list.date }}</h3>
        </div>
    </div>
    <br>
{% endblock %}