{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'add_view' %}"><button type="submit" class="btn btn-outline-warning">Add</button></a>
{% endblock %}
{% block contetnt %}
    <h1>Lists</h1>
    {% for list in lists %}
        <div class="alert alert-warning mt-2">
            <h4>{{ list.title }}</h4>
            <a href={% url 'detail_view' list.pk %}><button type="submit" class="btn btn-outline-info">More...</button></a>
            <a href="{% url 'update' list.pk %}"><button type="submit" class="btn btn-outline-info">Update...</button></a>
            <a href="{% url 'delete' list.pk %}"><button type="submit" class="btn btn-outline-info">Delete...</button></a>
        </div>
    {% endfor %}
{% endblock %}
